/.cache/
/.local/
/conf/php-cs-fixer.php
/conf/phpstan.php
/conf/phpunit.xml
/conf/rector.php
/conf/twig-cs-fixer.php
/dist/
/node_modules/
/src/js/eslint/types/declarations/typegen.d.ts
/vendor/
/.idea/
