###> brnshkr/config ###
/.cache/
/.local/
/.vitest/
/conf/actionlint.yaml
/conf/hadolint.yaml
/conf/php-cs-fixer.php
/conf/phpstan.php
/conf/rector.php
/conf/twig-cs-fixer.php
/node_modules/
/vendor/
###< brnshkr/config ###

/.agents/
/.idea/
/conf/ai/claude/settings.local.json
/conf/ai/claude/skills/
/dist/
/mate/AGENT_INSTRUCTIONS.md
/src/js/eslint/types/declarations/typegen.d.ts
/src/js/markdownlint/types/declarations/typegen.d.ts
