name: CI

on:
  push:
    branches:
      - master
      - 'release/**'
  pull_request:
    branches:
      - master
      - 'release/**'

  workflow_call:
    inputs:
      vendor:
        required: true
        type: string
      package:
        required: true
        type: string
      tag:
        required: false
        type: string
      do_enable_js:
        required: false
        type: boolean
      do_enable_php:
        required: false
        type: boolean
      node_version:
        required: false
        type: string
      bun_version:
        required: false
        type: string
      php_version:
        required: false
        type: string
      dry_run:
        required: false
        type: boolean

  workflow_dispatch:
    inputs:
      vendor:
        required: true
        type: string
      package:
        required: true
        type: string
      tag:
        required: false
        type: string
        default: ''
      do_enable_js:
        required: false
        type: boolean
      do_enable_php:
        required: false
        type: boolean
      node_version:
        required: false
        type: string
      bun_version:
        required: false
        type: string
      php_version:
        required: false
        type: string
      dry_run:
        required: false
        type: boolean

env:
  VENDOR: ${{ github.event.inputs.vendor || env.VENDOR || 'brnshkr' }}
  PACKAGE: ${{ github.event.inputs.package || env.PACKAGE || '' }}
  HAS_PACKAGE: ${{ env.PACKAGE != '' }}
  DO_ENABLE_JS: ${{ github.event.inputs.do_enable_js || env.DO_ENABLE_JS || 'true' }}
  DO_ENABLE_PHP: ${{ github.event.inputs.do_enable_php || env.DO_ENABLE_PHP || 'true' }}
  NODE_VERSION: ${{ github.event.inputs.node_version || env.NODE_VERSION || '24' }}
  BUN_VERSION: ${{ github.event.inputs.bun_version || env.BUN_VERSION || '1.3.8' }}
  PHP_VERSION: ${{ github.event.inputs.php_version || env.PHP_VERSION || '8.5' }}
  DRY_RUN: ${{ github.event.inputs.dry_run || env.DRY_RUN || 'true' }}
  IS_PUSH_EVENT: ${{ github.event_name == 'push' }}
  IS_PULL_REQUEST_EVENT: ${{ github.event_name == 'pull_request' }}
  IS_WORKFLOW_DISPATCH_EVENT: ${{ github.event_name == 'workflow_dispatch' }}
  IS_RELEASE_BRANCH: ${{ startsWith(github.ref, 'refs/heads/release/') }}
  IS_MASTER_BRANCH: ${{ github.ref == 'refs/heads/master' }}
  RELEASE_TAG: ${{ github.event.inputs.tag }}
  HAS_RELEASE_TAG: ${{ github.event.inputs.tag != '' }}

permissions:
  contents: write
  packages: write

jobs:
  check:
    uses: brnshkr/config/.github/workflows/check.yaml@master
    if: ${{ env.IS_MASTER_BRANCH && (env.IS_PUSH_EVENT || env.IS_PULL_REQUEST_EVENT || env.IS_WORKFLOW_DISPATCH_EVENT) }}
    with:
      do_enable_js: ${{ env.DO_ENABLE_JS }}
      do_enable_php: ${{ env.DO_ENABLE_PHP }}
      bun_version: ${{ env.BUN_VERSION }}
      php_version: ${{ env.PHP_VERSION }}

  release:
    uses: brnshkr/config/.github/workflows/release.yaml@master
    if: ${{ env.IS_RELEASE_BRANCH && (env.IS_PUSH_EVENT || (env.IS_WORKFLOW_DISPATCH_EVENT && env.HAS_RELEASE_TAG && env.HAS_PACKAGE)) }}
    needs: check
    with:
      vendor: ${{ env.VENDOR }}
      package: ${{ env.PACKAGE }}
      tag: ${{ env.RELEASE_TAG }}
      do_validate_secrets: 'true'
      do_enable_js: ${{ env.DO_ENABLE_JS }}
      do_enable_php: ${{ env.DO_ENABLE_PHP }}
      node_version: ${{ env.NODE_VERSION }}
      bun_version: ${{ env.BUN_VERSION }}
      php_version: ${{ env.PHP_VERSION }}
      dry_run: ${{ env.DRY_RUN }}
    secrets:
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      PACKAGIST_USERNAME: ${{ secrets.PACKAGIST_USERNAME }}
      PACKAGIST_TOKEN: ${{ secrets.PACKAGIST_TOKEN }}
